  /* #wrap{
            width: 100%;
            height: 100vh; 
            margin: 0 auto; 
            position: relative; 
        } */
        /* ------------------ */
        /* 바디 */

        .sec_main{
            width: 100%;
            height: 100vh;
            /* display: flex; */
            /* flex-direction: row; */
        }
        .sec1{
            width: 100%;
            height: 100%;
            /* display: flex; */
            box-sizing: border-box;
            position: relative;
        }
        .main_banner{
            width: 100%;
            height: 100vh;
            position: relative;
            overflow: hidden;
            margin: 0 auto;
            /* background-color: rgba(17, 17, 17, 0.5); */
            background: #000;
        }
        .scroll_icon {
            width: 200px;
            height: 200px;
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%, -5%);
            z-index: 9999;

            background: url(../p_img/icon/icon-pagedown.gif) no-repeat center / contain;
        }
        .banner{
            /* display: none; */
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 100%;
            /* opacity: 0.8; */
            color: #fff;
        }
        .banner_txt_box{
            /* width: 100%; */
            height: 100%;
            background-color: rgba(50, 50, 50, 0.5);
            color: #fff;
        }

        .banner_txt_box_position{
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .banner_h1{
            margin: 0 auto;
            /* border-bottom: 1px solid #fff; */
            letter-spacing: -2px;
            font-size: 45px;
        }
        .banner_line{
            margin: 20px auto;
            display: block;
            width: 250px;
            height: 1px;
            background-color: #fff;
            animation: b_line 1s forwards;
        }
            @keyframes b_line {
            0% {width: 0;} 
            100% {width: 250px;}}
        .banner_p{
            width: 900px;
            height: 100px;
            margin-top: 25px;
            font-size: 15px;
            line-height: 30px;
        }

        .banner0{
            background: url(../p_img/page3/메인베너.webp) no-repeat center / cover;
            left: 0;
        }
        .banner1{
            background: url(../p_img/page3/메인베너3.jpg) no-repeat center / cover;
            /* left: 100%; */
        }
        .banner2{
            background: url(../p_img/page3/라운지.jpg) no-repeat center / cover;
            /* left: 200%; */
        }
        .banner3{
            background: url(../p_img/page3/웨딩.jpg) no-repeat center / cover;
            /* left: 300%; */
        }
        .btn_slide {
            width: 100px;
            height: 100%;
            border: none;
            color: #fff;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 80px;
            transition: all 0.5s;
            opacity: 0;
        }

        input {background-color: rgba(255, 255, 255, 0);}
        .btn_slide:hover{opacity: 1;} 
        .btn_L {left: 0;}
        .btn_R {right: 0;} 

        .indi {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
        }
        .circle {
            width: 50px;
            height: 3px;
            border-radius: 20px;
            opacity: 0.7;
            background:#333;
        }
        .circle_active {
            background: #fff;
        } 

        /* 시그니엘 section 2 */
        /* #sec2{background-color: pink;} */

        .signiel_sec2 {
            width: 100%;
            height: 100%;
            /* background: #333; */
            /* position: relative; */
            box-sizing: border-box;
        }

        .sec2_img_box{
            width: 65%;
            height: 100%;
            float: left;
            background: url(../p_img/page3/page3_lottetower.jpg) no-repeat center / cover;
        }
        .sec2_txt_box{
            width: 35%;
            height: 100%;
            padding-top: 200px;
            padding: 50px;
            box-sizing: border-box;
            color: #333;
            background: #eeeeee;
            float: right;

        }

        .txt_box_h2{
            color: #333;
            margin-top: 200px;
            font-weight: 900;
            font-size: 36px;
            opacity: 0;
            letter-spacing: -5px;
            animation: txt_box_drop 1s ease forwards 
        }

        .txt_box_h3{
            color: #333;
            font-weight: 100;
            margin-bottom: 0;
            font-size: 32px;
            opacity: 0;
            letter-spacing: -3px;
            animation: txt_box_drop 1s ease forwards 
        }

        @keyframes txt_box_drop{
            0% {transform: translateY(-200%); opacity :0}
            100% {transform: translateY(-50%); opacity: 1} 
        }
        .txt_box_p{
            letter-spacing: -3px;
            font-size: 22px;

        }
        .txt_box_h4{
            font-size: 20px;
            letter-spacing: -1px;
        }
        /* 
            section 3333333333333333333333333333333333333333333333333333333333
        
        */
        .signiel_sec3{
            width: 100%;
            height: 100%;
            position: relative;
        }

        .sec3_top_box{
            width: 100%;
            height: 182px;
            /* max-height: 182px; */
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .sec_img{
            height: 40px;
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translate(-50%, 0);
        }
/* 이미지 박스 클릭하면 오른쪽에 간단 설명 + 상세페이지로 이동하는 버튼  라디오 버튼 만들어야하고 ~ 왼쪽이 변해야하고 */
        .item_box{
            width: 65%;
            max-height: 800px;
            position: absolute;
            bottom: 0;
            left: 0;
            
            /* height: 100%; */
        }
        .item{
            width: calc((100% - (2px * 2)) / 2);
            height: 400px;
            box-sizing: border-box;
            margin: 1px;
            float: left;
        }
        .item1{background: url(../p_img/page3/sec3_1.jpg) no-repeat center / cover; }
        .item2{background: url(../p_img/page3/sec3_2.jpg) no-repeat center / cover;}
        .item3{background: url(../p_img/page3/sec3_3.jpg) no-repeat center / cover;}
        .item4{background: url(../p_img/page3/sec3_4.jpg) no-repeat center / cover;}

        .sec3_txt_box{
            width: 35%;
            height: 800px;
            box-sizing: border-box;
            color: #333;

            /* overflow: hidden; */
            background: rgba(255,255,255, 0.5);

            position: absolute;
            right: 0;
            bottom:0; 
        }

        .sec3_pan_box {
            position: absolute;
            bottom: 100px;
        }   
        .pan{
            display: none;
            width: 100%;
            height: 100%;

            animation: opacc 2s ease forwards;
        }

        .pan1{
            width: 100%;
            height: 600px;
            background: url(../p_img/page2/RS_room2.jpg) no-repeat center / cover;
            
        }
        @keyframes opacc{
            0%{opacity: 0;};
            100% {opacity: 1;};
        }

        .pan2{
            width: 100%;
            height: 600px;
            background: url(../p_img/page3/dining.jpg) no-repeat center / cover;
            
        }
        .pan3{
            width: 100%;
            height: 600px;
            background: url(../p_img/page3/피트니스.jpg) no-repeat center / cover;
        }
        .pan4{
            width: 100%;
            height: 600px;
            background: url(./p_img/page3/웨딩5.jpg) no-repeat center / cover;
        }

        /* .heart{
            position: relative;
            right: 0;
            top: 65%;
            background: url(./p_img/꽉찬하트.png ) -30px 0 / 60px no-repeat;
        } 
        .heart::after{
            content: '';
            position: absolute;
            right: 0;
            top: 65%;
            z-index: 1;
            width: 0;
            height: 60px;
            background: url(./p_img/꽉찬하트.png) 0 0 / 60px no-repeat;
        }

        .heart:hover::after{width: 60px;} */


        .pan_box_h3{
            margin: 0;
            font-weight: 100;
            font-size: 25px;
            letter-spacing: -1px;
            opacity: 0;
            /* transform: translate(0); */
            animation: pan_box_drop 1s ease forwards;
        }

        @keyframes pan_box_drop{
            0% {transform: translateY(-100%);opacity:0;}
            100% {transform:translateY(0);opacity:1;} 
        }

        .sec3_pan_box{
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            background: rgba(255,255,255, 0.3);
        }

        .sec3_pan_txt_box{
            padding-left: 20px;
            width: 90%;
            line-height: 25px;
            position: absolute;
            height: 180px;
            bottom: 0;
        }

        .pan_box_p{
            opacity: 0;
            animation: pan_box_drop 1s ease forwards;

        }

        .gogobtn2{
            border: 1px solid #333;
            width: 120px;
            height: 35px;
            /* border-radius: 20px; */
            text-align: center;
            line-height: 35px;
            /* font-weight: 900; */
            /* transition: all 1s; */
            animation: opacc 2s ease forwards;
        }

        .gogobtn2:hover{
            background: #333;
            color: #fff;
            border: 1px solid #333;
        }


        #sec3_item1:checked ~ .sec3_txt_box > .pan1{
            display: block;
        }
        #sec3_item2:checked ~ .sec3_txt_box > .pan2{
            display: block;
        }
        #sec3_item3:checked ~ .sec3_txt_box > .pan3{
            display: block;
        }
        #sec3_item4:checked ~ .sec3_txt_box > .pan4{
            display: block;
        }


        input[name="rd"] {display: none;}



        .sec3_item_txt_box{
            width: 100%;
            height: 100%; 
            transition: all 0.7s;
        }

        .sec3_item_txt_box:hover{
            background-color: rgba(50, 50, 50, 0.5);
        
        }
        .sec3_item_txt_box:hover .sec3_item_txt{
            opacity: 1;
        }
        .sec3_item_txt{
            letter-spacing: -1px;
            font-size: 30px;
            color: #fff;
            text-align: center;
            position: relative;
            top: 50%;
            opacity: 0;

            transition: all 0.7s;
            transform: translateY(-50%);
        }

        .signiel_sec4{
            width: 100%;
            height: 100%;
            position: relative;
        }


        #sec4{
            background: #eeeeee;
        }


        .sec4_loc{
            width: 100%;
            height: 182px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .sec4_loc_h1{
            font-size: 40px;
            font-weight: 100;
            text-align: center;
            margin-top: 50px;
        }


        .iframe_box{
            border-radius: 30px;
            width: 1500px;
            overflow: hidden;
            height: 600px;
            position: absolute;
            top: 50%;
            left: 50%;
            /* margin-top: 50px; */
            transform: translate(-50%, -50%);
        }
        .iframe_side_box{
            width: 30%;
            height: 100%;
            position: absolute;
            left: 0;
            top:0;
            background: url(../p_img/page3/page3_tower2.webp) no-repeat center / cover;
        }

        .side_txt_box{
            width: 100%;
            height: 100%;
            /* line-height: 30px; */
            background-color: rgba(50, 50, 50, 0.5);
            font-size: 17px;
            text-align: center;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .s_txt_1{
            line-height: 40px;
        }
        .s_txt_2{
            font-size: 18px;
            letter-spacing: -1px;
            line-height: 30px;
        }
        .s_txt_2 h3{
            font-weight: 100;
        }
        .s_txt_3{
            line-height: 40px;
        }
        .sec4line{
            display: block;
            margin: 0 auto;
            width: 170px;
            height: 0.5px;
            background: #fff;
        }
        iframe {
            margin: 0 auto;
            position: absolute;
            top: 0;
            right: 0;
            /* margin-top: 50px; */
            width: 70%;
            height: 100%;
        }
        .sec4_footer{
            width: 100%;
            height: 120px;
            position: absolute;
            bottom: 0;
            background: #333;
        }
        .icon_link{
            width: 100%;
            height: 100%;
            /* height: 50px; */
            /* border-bottom: 1px solid #fff; */
            position: absolute;
            line-height: 50%;
            top: 50%;
            transform: translateY(-50%);
        }
        .icon img{
            width: 45px;
            height: 40px;
        }

        .icon_link_ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 35px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        } 
        .location_line{
            margin: 20px auto;
            display: block;
            width: 200px;
            height: 1px;
            background-color: #333;
        }
            /* 푸터  */
    .footer{
        width: 100%;
        height: 100px;
        /* border: 1px solid; */
        z-index: 99999;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 9999;
        /* background: #333; */
    }

    .top_button{
        width: 50px;
        height: 50px;
        text-align: center;
        background: #fff;
        border-radius: 50%;
        float: right;
        line-height: 50px;
        /* border: 1px solid #333; */
        font-size: 20px;
        /* font-weight: 900; */
        letter-spacing: -1px;
    }
    .sec_ul{
        width: 400px;
        display: flex;
        color: #fff;
    }
    .sec_ul li {
        line-height: 50px;
        height: 50px;
    }
    .sec_ul a {
        width: 100%;
        height: 100%;
        padding: 5px 10px;
    } 